.search_notes_form{
    padding:20px;
    
}

.material_card_list{
    border-radius: 23px;
background: #e0e0e0;
box-shadow:  23px 23px 45px #c3c3c3,
             -23px -23px 45px #fdfdfd;
margin-top: 20px;
}

.drive_link{
    text-decoration: none;
    color:black !important;
    padding:4px;
    margin:3px;

}

.search_notes_result_card{
    height:30rem;
    position:relative;
    overflow-y: scroll;
}

.result_search_notes{
   
}