body {
  font-family: 'Poppins', sans-serif;
}

.text-head{
  font-family: 'Poppins', sans-serif;
  
}
.heading{
  /* color:#38354E; */
  padding:3rem;
  font-size: 32px;
  /* font-weight: bold; */
}
.companyname{
  position:relative;
  top:20px;
}
.white{
  color:white;
}
.alignCentre{
  text-align: center;
}
.highlight{
  color:#B8A7FF;
}
.alignLeft{
  text-align: left;
}
.alignRight{
  text-align: right;
}

.Logo{
  font-size:80px;
}

.botton{
    
background: rgb(84,83,202);
background: linear-gradient(90deg, rgba(84,83,202,1) 0%, rgba(67,60,140,1) 100%);
color:white;
border-radius: 12px;

}

.mgRight{
   position:relative;
   right:30px;
}